%h1 Listing recommendations
%div#recModalPlaceholder

- @recommendations.each do |recommendation|
  .well.recs{"align" => "center"}
    %p
      %b Like:
      / %input{:type => "checkbox", :checked}
      %input{:type => "checkbox", :checked => recommendation.like ? true : nil, :disabled => true}
      / :selected => recommendation.like,
      / = recommendation.like ? "Liked" : "Didn't like"
    %p
      %b Description:
      = recommendation.description
    %p
      %b Restaurant:
      = link_to recommendation.restaurant.name, restaurant_path(recommendation.restaurant)

    - if recommendation.pics.file?
      %p
        = image_tag recommendation.pics.url(:medium)

    %p
      = link_to 'Show', user_recommendation_path(current_user, recommendation)

/ %td= link_to 'Show', recommendation
/ %td= link_to 'Edit', edit_recommendation_path(recommendation)
/ %td= link_to 'Destroy', recommendation, :method => :delete, :data => { :confirm => 'Are you sure?' }