%p#notice= notice

.well.recs
  %p
    %b Name:
    = @restaurant['name']

  %p
    %img{:src => @restaurant['rating_img_url_large']}

  %p
    %img{:src => @restaurant['image_url']}

  %p
    %b Location:
    = @restaurant['location']

/ = link_to 'Edit', edit_restaurant_path(@restaurant)
/ \|
/ = link_to 'Back', restaurants_path
