.well.well-registration{"align" => "center"}
  %h2 Add a new address
  %hr
  = simple_form_for [current_user, @address] do |f|
    .input-group.input-group-lg
      %span.input-group-addon
        %i.fa.fa-location-arrow
      = f.input :full_address, :label => false, :placeholder => "Enter a location", :input_html => { :id => 'address-input', :class => 'form-control input-lg' }

    %hr
    .actions
      = f.submit 'Continue', :class => 'btn btn-primary btn-lg', :id => 'addressButton', :onClick => "_gaq.push(['_trackEvent', 'SignUp', 'Address Page', 'Address Added']);"

:coffee
  $("#address-input").geocomplete
    country: "us"
