//
// Colors
//
$gray-darker:            lighten(#000, 13.5%); // #222
$gray-dark:              lighten(#000, 20%);   // #333
$gray:                   lighten(#000, 33.5%); // #555
$gray-light:             lighten(#000, 60%);   // #999
$gray-lighter:           lighten(#000, 93.5%); // #eee

$brand-primary:         #e74c3c;
$brand-success:         #27ae60;
$brand-info:            #3498db;
$brand-warning:         #f1c40f;
$brand-danger:          #e67e22;

$facebook-blue: #3b5998;
$clouds: #ecf0f1;