// Place all the styles related to the addresses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pac-container {
  font-family: "Open Sans";
  &:after {
    display: none;
  }
  .pac-item {
    height: 4em;
    padding-top: 0.5em;
  }

  .pac-icon.pac-icon-marker {
    background-image: none;
    width: 0px;
    height: 0px;
  }
}

#addresses-list {
  list-style-type: none;
  padding: 0px;

  p {
    padding-top: 0.3em;
  }

  li:first-child {
    border-top: 1px dashed #666;
  }

  li {
    padding-top: 1.7em;
    padding-bottom: 1.5em;
    border-bottom: 1px dashed #666;
  }

  i {
    color: #666;
  }
}

.addresses-header {
  margin-bottom: 1em;
}