// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.news-feed {
  margin-top: 2em;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.user-location {
  display:none;
}

.affix-top,.affix{
  position: static;
}

@media (min-width: 992px) {

  #sidebar.affix-top {
  position: static;
  }

  #sidebar.affix {
  position: fixed;
  top: 100px;
  }

}

#sidebar {
  ul {
    padding-left: 1em;
    padding-top: 0.5em;
  }
  li {
    list-style: none;
  }
}