@import "partials/colors";

body {
  background: #e6e6e6;
}

//
// Navigation
//
.navbar-brand {
  font-family: "Dosis";
  font-weight: 600;
  font-size: 2em;
}

//
// Buttons
//
.btn-facebook {
  background-color: $facebook-blue;
  color: $clouds;

  i:before {
    margin-right: 0.5em;
    font-size: 1.2em;
    vertical-align: middle;
  }

  .facebook-label {
    vertical-align: middle;
    font-size: 1.1em;
  }

  &:visited {
    color: $clouds;
  }

  &:hover {
    background-color: darken($facebook-blue, 10%);
    color: darken($clouds, 10%);
  }
}

//
// Icons
//
.fa-7x {
  font-size: 7em;
}