// Place all the styles related to the Restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "partials/colors";

.packery-item {
  border-radius: 3px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.18);
  background: #fff;
  width: 350px;

  img {
    width: 100%;
  }

  a {
    color: $gray;
    &:hover {
      color: $gray-dark;
      text-decoration: none;
    }
  }
  .restaurant-name {
    margin-top: 0.3em;
    margin-bottom: 0em;
    padding-left: 0.4em;
    padding-right: 0.4em;
  }
  .restaurant-address {
    padding-left: 1.1em;
  }
  .item-subnav {
    padding-top: 10px;
    font-size: 1.1em;
    li {
      display: inline;
      list-style-type: none;
      padding-right: 20px;
    }
  }
  .detail-subnav {
    padding-top: 24px;
    font-size: 1.1em;
    li {
      display: inline;
      list-style-type: none;
      padding-right: 20px;
    }
  }
}

.packery {
  padding-bottom: 4em;
}

.reviews {
  max-height: 600px;
  overflow-y: scroll;
}

.foursquare-tips-header {
  padding-top: 1em;
}

.google-reviews, .foursquare-reviews, .yelp-reviews {
    display : inline-block;
    float:left;
    clear:both;
}

.review-item {
    display : inline-block;
    float:left;
    clear:both;
    margin-bottom: 3em;
}